body {
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.select-arrow:before {
	content: "▼"
}

.text-youtube,
.text-youtube:hover {
	color: #FF0000 !important;
}

.text-twitter,
.text-twitter:hover {
	color: #00acee !important;
}

.text-telegram,
.text-telegram:hover {
	color: #0088cc !important;
}

.text-navbar {
	color: #B06AB3 !important;
}

main {
	padding-bottom: 20px;
	padding-top: 50px;
}

.bg-img-25 {
	display: inline!important;
	padding: .4rem .8rem !important;
}

.bg-img-1-2 {
	display: inline!important;
	padding: .4rem!important;
}

.bg-img-18 {
    padding: .1rem .6rem .0rem .5rem !important;
}

.bg-Elder_God_50 {
	width: 49px;
	height: 50px;
	background: url('../img/CharClass/charClass_50.png') -80px -10px;
}

.bg-Martial_Artist_50 {
	width: 45px;
	height: 50px;
	background: url('../img/CharClass/charClass_50.png') -149px -10px;
}

.bg-Nomad_50 {
	width: 45px;
	height: 50px;
	background: url('../img/CharClass/charClass_50.png') -10px -80px;
}

.bg-Outworld_50 {
	width: 45px;
	height: 50px;
	background: url('../img/CharClass/charClass_50.png') -75px -80px;
}

.bg-Netherrealm_50 {
	width: 45px;
	height: 50px;
	background: url('../img/CharClass/charClass_50.png') -140px -80px;
}

.bg-Spec_Ops_50 {
	width: 50px;
	height: 50px;
	background: url('../img/CharClass/charClass_50.png') -10px -10px;
}

.bg-Elder_God_25 {
	width: 25px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -10px -10px;
}

.bg-Martial_Artist_25 {
	width: 23px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -53px -55px;
}

.bg-Nomad_25 {
	width: 23px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -100px -10px;
}

.bg-Outworld_25 {
	width: 23px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -100px -55px;
}

.bg-Netherrealm_25 {
	width: 23px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -10px -55px;
}

.bg-Spec_Ops_25 {
	width: 25px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -55px -10px;
}

.bg-Elder_God_1 {
	width: 13px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -10px -10px;
}

.bg-Martial_Artist_1 {
	width: 12px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -53px -55px;
}

.bg-Nomad_1 {
	width: 12px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -100px -10px;
}

.bg-Outworld_1 {
	width: 12px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -100px -55px;
}

.bg-Netherrealm_1 {
	width: 12px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -10px -55px;
}

.bg-Spec_Ops_1 {
	width: 13px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -55px -10px;
}

.bg-Elder_God_2 {
	width: 13px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -22px -10px;
}

.bg-Martial_Artist_2 {
	width: 12px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -64px -55px;
}

.bg-Nomad_2 {
	width: 12px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -111px -10px;
}

.bg-Outworld_2 {
	width: 12px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -111px -55px;
}

.bg-Netherrealm_2 {
	width: 12px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -22px -55px;
}

.bg-Spec_Ops_2 {
	width: 13px;
	height: 25px;
	background: url('../img/CharClass/charClass_25.png') -67px -10px;
}

.bg-attack {
	display: inline!important;
	width: 18px;
	height: 18px;
	background: url('../img/stats.png') -10px -10px;
}

.bg-health {
	display: inline!important;
	width: 18px;
	height: 18px;
	background: url('../img/stats.png') -48px -10px;
}

.bg-recovery {
	display: inline!important;
	width: 18px;
	height: 18px;
	background: url('../img/stats.png') -10px -48px;
}

.bg-toughness {
	display: inline!important;
	width: 18px;
	height: 18px;
	background: url('../img/stats.png') -48px -48px;
}

.bg-0-bronze-selector {
	height: 25px;
	background: url('../img/rarity/Bronze.png');
    background-size: 20px;
    background-repeat: no-repeat;
}

.bg-1-silver-selector {
	height: 25px;
	background: url('../img/rarity/Silver.png');
    background-size: 20px;
    background-repeat: no-repeat;
}

.bg-2-gold-selector {
	height: 25px;
	background: url('../img/rarity/Gold.png');
    background-size: 20px;
    background-repeat: no-repeat;
}

.bg-3-diamond-selector {
	height: 25px;
	background: url('../img/rarity/Diamond.png');
    background-size: 20px;
    background-repeat: no-repeat;
}